{% block content %}

<div>Hi {{email_addressee}},</div>
 
<div style="margin:30px 0 0 0;">I have attached the documents required for the upcoming engagement as requested for XXXX.</div>
 
<div style="margin:30px 0 0 0;">Kindly find attached<div>
 
<ul style="margin:20px 0 0 0;"> 
<li>Quote</li>
<li>CHF</li>
<li>SEF</li>
<li>DL</li>
</ul>
 
<div style="margin:30px 0 0 0;">Please ensure both employee and Admin Ready Resources team email are put into the RTTMS Ticket lodgements.</div>
 
<div style="margin:30px 0 0 0;">If you have any questions please don’t hesitate to contact me.</div>
 
 
 
<div style="margin:60px 0 0 0;">Kind Regards,</div>
 
<div style="margin:30px 0 0 0;">{{ rr_mobiliser }}</div>
<div>Mobilisation Coordinator</div>
 
<div style="margin:10px 0 0 0;">M 0474 587 149</div>
<div>T 08 61898644</div>


<div style="margin:20px 0 0 0;">
    <img src="https://mob.readyresourcesapp.com.au/assets/ready_resources_logo_74.png" width="60">
</div>

<div style="margin:20px 0 0 0;">Zero Incidents, Zero Harm, Zero Rework</div>  

<div style="margin:10px 0 0 0;">Electrical Contractors Licence: EC011464</div>

<div style="margin:30px 0 0 0;">Ready Resources  Pty Ltd</div>
<div>170 Campbell Street, Belmont</div> 
<div>PO Box 62</div>
<div>Cloverdale WA 6985</div>
<div>www.readyresources.com</div>

<div style="margin:50px 0 0 0;">This message and/or including attached files may contain confidential proprietary 
 or privileged information. If you are not the intended recipient, you are strictly prohibited 
 from using, reproducing, disclosing or distributing the information contained in this email without 
 authorisation from Ready Resources Pty Ltd. If you have received this message in error please contact the sender. 
 We do not accept liability in connection with computer virus, data corruption, delay, interruption, unauthorised 
 access or unauthorised amendment. We reserve the right to monitor all e-mail communication.</div>

{% endblock %}