{% extends 'layout/main.twig' %}

{% block middle_col %}

    <div id="dashbaord-header">
        <h1 class="w3-xlarge w3-left"><b>Dashboard</b></h1>
        <!--<button id="workspace-action-add" class="w3-bar-item w3-button w3-darkblue w3-mobile w3-right w3-medium" style="margin-bottom:10px;">Add Request</button>-->
        <!--<button id="send-test-message" class="w3-button w3-medium w3-darkblue w3-mobile w3-right" style="margin-bottom:10px;">Send Message</button>-->
    </div>

    <div style="clear:both;"></div>

    <div id="dashboard"></div>

{% endblock %}

{% block javascripts %}

    <script>window.jQuery || document.write('<script src="{{ base_path() }}/js/jquery-2.0.0.min.js">\x3C/script>')</script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js" integrity="sha256-lnH4vnCtlKU2LmD0ZW1dU7ohTTKrcKP50WA9fa350cE=" crossorigin="anonymous"></script>

    <script src="{{ base_path() }}/js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{{ base_path() }}/js/dashboard.js"></script>

{% endblock %}