<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ base_path() }}/"/>
    <link rel="shortcut icon" href="icons/favicon.ico">
    <title>{{ title|default('LOGIN') }}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ base_path() }}/css/layout-fixed.css?v391">
</head>

<body>

<div class="my-container">

    {% block login %}{% endblock %}

</div>

{% include 'layout/partials/footer-signin.twig' %}

{% block javascripts %}{% endblock %}

</body>

</html>